{% extends 'base.html.twig' %}

{% block title %} Accueil {% endblock %}

{% block body %}
    <div id="main-container" class="w-75 mx-auto d-flex flex-row container">
        <section class="col-6">
            <h1 class="text-uppercase">Apprenez, où vous voulez quand vous voulez</h1>
            <p>Il est possible d’apprendre grâce à plusieurs formats, des activités, des exercices, des vidéos et des projets pour apprendre tout en pratiquant !</p>
        </section>
        <object data="/assets/laptopIllustration.svg"  class="col-6"></object>
    </div>
    <div id="actu">
        <img class="d-block" src="/assets/Bulb_deco.svg" alt="Décoration ampoule">
        <div class="container d-flex w-75 mx-auto flex-wrap justify-content-between">
            <section class="actus-group col-5 rounded border border-1 my-5"> <!-- Last lessons -->
                <h3 class="rounded-pill d-inline-block p-2">Les derniers cours</h3>
                {% for course in courses %}
                    <section>
                        <h2>{{ course.title }}</h2>
                        <p>Ajouté le :  {{ course.modifiedAt|date("d/m/Y") }}</p>
                    </section>
                {% endfor %}
            </section>
            <section class="actus-group col-5 rounded border border-1 my-5"> <!-- Last projects -->
                <h3 class="rounded-pill d-inline-block p-2">Les derniers projets</h3>
                <section> <!-- Element 1 -->
                    <h2>Title</h2>
                    <p>Niveau : </p>
                    <p>Ajouté le : </p>
                </section>
                <section><!-- Element 2 -->
                    <h2>Title</h2>
                    <p>Niveau : </p>
                    <p>Ajouté le : </p>
                </section>
                <section><!-- Element 3 -->
                    <h2>Title</h2>
                    <p>Niveau : </p>
                    <p>Ajouté le : </p>
                </section>
            </section>
            <section class="actus-group col-5 rounded border border-1 my-5"> <!-- Last activities -->
                <h3 class="rounded-pill d-inline-block p-2">Les dernières activités</h3>
                <section> <!-- Element 1 -->
                    <h2>Title</h2>
                    <p>Thême : </p>
                    <p>Ajouté le : </p>
                </section>
                <section><!-- Element 2 -->
                    <h2>Title</h2>
                    <p>Thême : </p>
                    <p>Ajouté le : </p>
                </section>
                <section><!-- Element 3 -->
                    <h2>Title</h2>
                    <p>Thême : </p>
                    <p>Ajouté le : </p>
                </section>
            </section>
            <section class="actus-group col-5 rounded border border-1 my-5"> <!-- Last exercises -->
                <h3 class="rounded-pill d-inline-block p-2">Les derniers exercices</h3>
                <section> <!-- Element 1 -->
                    <h2>Title</h2>
                    <p>Thême : </p>
                    <p>Ajouté le : </p>
                </section>
                <section><!-- Element 2 -->
                    <h2>Title</h2>
                    <p>Thême : </p>
                    <p>Ajouté le : </p>
                </section>
                <section><!-- Element 3 -->
                    <h2>Title</h2>
                    <p>Thême : </p>
                    <p>Ajouté le : </p>
                </section>
            </section>
        </div>
    </div>
{% endblock %}