{% extends 'base.html.twig' %}

{% block title %} Accueil {% endblock %}

{% block body %}
    <div>
        <section>
            <h1>Apprenez, où vous voulez quand vous voulez</h1>
            <p>Il est possible d’apprendre grâce à plusieurs formats, des activités, des exercices, des vidéos et des projets pour apprendre tout en pratiquant !</p>
        </section>
        <object data="/assets/laptopIllustration.svg"></object>
    </div>
    <div>
        <object data="/assets/Bulb_deco.svg"></object>
        <section> <!-- Last lessons -->
            <h3>Les derniers cours</h3>
            <section> <!-- Element 1 -->
                <h2>Title</h2>
                <p>Temps de lecture : </p>
                <p>Ajouté le : </p>
            </section>
            <section><!-- Element 2 -->
                <h2>Title</h2>
                <p>Temps de lecture : </p>
                <p>Ajouté le : </p>
            </section>
            <section><!-- Element 3 -->
                <h2>Title</h2>
                <p>Temps de lecture : </p>
                <p>Ajouté le : </p>
            </section>
        </section>
        <section> <!-- Last projects -->
            <h3>Les derniers projets</h3>
            <section> <!-- Element 1 -->
                <h2>Title</h2>
                <p>Niveau : </p>
                <p>Ajouté le : </p>
            </section>
            <section><!-- Element 2 -->
                <h2>Title</h2>
                <p>Niveau : </p>
                <p>Ajouté le : </p>
            </section>
            <section><!-- Element 3 -->
                <h2>Title</h2>
                <p>Niveau : </p>
                <p>Ajouté le : </p>
            </section>
        </section>
        <section> <!-- Last activities -->
            <h3>Les dernières activités</h3>
            <section> <!-- Element 1 -->
                <h2>Title</h2>
                <p>Thême : </p>
                <p>Ajouté le : </p>
            </section>
            <section><!-- Element 2 -->
                <h2>Title</h2>
                <p>Thême : </p>
                <p>Ajouté le : </p>
            </section>
            <section><!-- Element 3 -->
                <h2>Title</h2>
                <p>Thême : </p>
                <p>Ajouté le : </p>
            </section>
        </section>
        <section> <!-- Last exercises -->
            <h3>Les derniers exercices</h3>
            <section> <!-- Element 1 -->
                <h2>Title</h2>
                <p>Thême : </p>
                <p>Ajouté le : </p>
            </section>
            <section><!-- Element 2 -->
                <h2>Title</h2>
                <p>Thême : </p>
                <p>Ajouté le : </p>
            </section>
            <section><!-- Element 3 -->
                <h2>Title</h2>
                <p>Thême : </p>
                <p>Ajouté le : </p>
            </section>
        </section>
    </div>
{% endblock %}