@import "~bootstrap/scss/bootstrap";

//Modules importations
@import "modules/header";
@import "modules/typography";
@import "modules/hamburger";

//Pages importations
@import "pages/home";
@import "pages/general";
@import "pages/auth";
@import "pages/showContent";

:root{
  --color: #6147FF;
  --color-transparent: rgba(97, 71, 255,0.7);
  --color-dark: #5740E6;
  --color-green: #27B087;
  --color-green-transparent: rgba(39, 176, 135, 0.7);
  --color-dark-green: #1E8C6B ;
}

body{
  font-family: $font;
  color: var(--color);
}

$enable-responsive-font-sizes: true;


