{% extends "@EasyAdmin/page/content.html.twig"%}
{% block content %}
    <div class="jumbotron">
        <h1>Bienvenue {{ user.name }} sur la page d'administration,</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <div class="d-flex flex-row justify-content-around">
            <section class="border my-3 shadow p-2 rounded">
                <h3>Nombre d'utilisateurs inscrits : </h3>
                <ul>
                    <li>XXX Inscrits</li>
                </ul>
            </section>
            <section class="border my-3 shadow p-2 rounded">
                <h3>Nombre de cours : </h3>
                <ul>
                    <li>XXX Cours</li>
                </ul>
            </section>
            <section class="border my-3 shadow p-2 rounded">
                <h3>Nombre d'activités : </h3>
                <ul>
                    <li>XXX Activités</li>
                </ul>
            </section>
            <section class="border my-3 shadow p-2 rounded">
                <h3>Nombre de projets : </h3>
                <ul>
                    <li>XXX Projets</li>
                </ul>
            </section>
        </div>
    </div>
{% endblock %}