header{
  height: 12vh;
  border-bottom: 1px solid #E5E5E5;
  object{
    height: 100%;
  }
  nav ul{
    padding: 0;
    margin: 0;
    font-weight: 300;
  }
  p{
    margin: 0;
  }
  li {
    list-style: none;
  }
}