header{
  border-bottom: 1px solid #E5E5E5;
  height: 10vh;
  nav ul {
    padding: 0;
    margin: 0;
    font-weight: 300;

    li a:hover {
      text-decoration: none;
    }
  }
  p{
    margin: 0;
  }
  li {
    list-style: none;
  }
  img{
    height: 80%;
  }
  a{
    height: 10vh;
  }
}