#main-container{
  h1{
    font-weight: 900;
  }
  p{
    font-weight: 500;
    font-style: italic;
    color: var(--color-green);
  }
}

#actu{
  background-color: #F1F1F1;
  overflow: hidden;

  img{
    position: absolute;
    left: -50%;
  }
  .actus-group {
    border: rgba(0, 0, 0, 0.09) solid 1px;
    z-index: 999;
  }

  h3{
    background-color: var(--color-transparent);
    color: var(--color-dark);
  }
}
